:root {
	--card-font-size: 1.4rem;
	--card-size: 50vw;
	--logo-size: 8rem;
	--body-background: #fafafa;
	--card-foreground: #333;
	--card-background: #fff;
	--logo-border-color: #f0f0f0;
	--footer-foreground: #999;
	--footer-foreground-hover: #666;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-background: #111;
		--card-foreground: #f0f0f0;
		--card-background: #222;
		--logo-border-color: #f0f0f0;
		--footer-foreground: #aaa;
		--footer-foreground-hover: #ccc;
	}
}

* {
	box-sizing: border-box;
}

html {
	font-size: 0.625rem;

	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: var(--card-foreground);
	background: var(--body-background);
}

main {
	font-size: var(--card-font-size);

	position: relative;
	margin: calc(var(--logo-size) / 2 + 0.8rem) 0.8rem 1.6rem;
	padding: 2.4rem;
	border-radius: 0.8rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
	color: var(--card-foreground);
	background: var(--card-background);

	@media screen and (min-width: 600px) {
		width: var(--card-size);
	}

	header {
		text-align: center;

		img {
			position: absolute;
			top: 0;
			left: 50%;
			margin-top: calc(var(--logo-size) / -2);
			margin-left: calc(var(--logo-size) / -2);
			width: var(--logo-size);
			height: var(--logo-size);
			border-radius: calc(var(--logo-size) / 2);
			border: 1px solid var(--logo-border-color);
		}
	}

	.menu {
		margin: 3.2rem 0 1.6rem;
		line-height: calc(var(--card-font-size) * 1.5);
		white-space: pre-line;
	}

	footer {
		.date {
			position: relative;
			display: block;
			color: var(--footer-foreground);
			height: 2rem;
			user-select: none;
			cursor: pointer;

			.toggle { display: none; }

			time, span {
				position: absolute;
				top: 0;
				left: 0;
				line-height: 2rem;
				opacity: 0;
				transition: 0.2s ease-out all;
				pointer-events: none;

				&:hover {
					color: var(--footer-foreground-hover);
				}
			}

			time { transform: translateY(-50%); }
			span { transform: translateY(50%); }

			.toggle:not(:checked) ~ time,
			.toggle:checked ~ span {
				opacity: 1;
				transform: translateY(0);
				pointer-events: unset;
			}
		}
	}
}
